/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/

.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* center contents */
    text-align: center;
}

#middle
{
    /* center contents */
    text-align: center;
}

#middle .nav
{
    display: inline-block;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;

    /* center contents */
    text-align: center;
}
